@import "./reset.css";

:root {
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    --main-background-color: #fff;
    --secondary-background-color:#2F303A;
    --accent-background-color: #F5F4FA;

    --main-font-color: #212121;
    --secondary-font-color:#757575;
    --logo-color: #2196F3;
    --content-max-width: 1600px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.logo-link {
    font-weight: 700;
    font-size: 26px;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.left-container, 
.right-container {
    /* width: 50%; */
    display: flex;
 
}

/* .left-container {
    justify-content: flex-start;
} */


.right-container {
    justify-content: center;
}



.nav-container {
    margin-left: 93px;

}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}


.nav-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-font-color);
}

/* .nav-item + .nav-item {
    margin-left: 40px;
} */

.nav-item:not(:first-child) {
    margin-left: 40px;
}


.nav-item:hover,
.nav-item:active {
    color: var(--logo-color);
}
.nav-link {
    color: var(--logo-color);
    margin-right: 50px;
}

.main-section {
    background-color: var(--secondary-background-color);
    height: calc(100vh - 150px);
}


.main-section-container {
    max-width: var(--content-max-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main-section-container h1 {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}
    

.main-section-container button {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--logo-color);
    color: #fff;
    padding: 10px 32px;
    border-radius: 4px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


.main-section-container .btn-container {
    text-align: center;
}
.btn-container {
    margin-top: 30px;
}


h2, h3 {
    color: var(--main-font-color);
    font-weight: 700;
}


